</div>
<footer class="footer">
  <h3> Designed and Developed by Safal Mehrotra </h3>
    <div class="footer-icons">
      <a href="https://www.linkedin.com/in/safal-mehrotra-062205228/" target="_blank"><i class="fab fa-linkedin fa-2x" style="color: black;"></i></a>
      <a href="https://www.instagram.com/safal.1216/" target="_blank"><i class="fab fa-instagram fa-2x" style="color: black;"></i></a>
      <a href="https://github.com/safal1216" target="_blank"><i class="fab fa-github fa-2x" style="color: black;"></i></a>
    </div>
</footer>
</body>
</html>
