.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
    
}

.homies{
    padding-left: 5%;
}

.items{
    padding-left: 5%;
}
.about{
    padding-left: 5%;
}
.contact{
    padding-left: 5%;
}

.postss{
    padding-left: 5%;
}
.container{
    padding-right: none;
    padding-left: none;
}
.navbar {
    position: sticky;
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #79B4B7;
}

.navbar-brand{
    color: black !important;
    font-weight: bold;
    padding-top: 7%;
    padding-bottom: 25px;
}
.navbar-nav  li a{
    color: black !important;
    font-weight: bold; 
}
.navbar-nav  li a:hover {
    color: #FCE09B !important;
}

.contain{
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: left;
    background-color: #e7f6ff;
    color: #1F2544;
    font-weight: bold;
    font-size: 15px;
    padding-top: 30px;}

.contain h1{
    color: #E78895;
}

button{
    color: black;
    border-color: blue;
    background-color: #B71375;
}
input{
    color: black;
    padding-top: 10px;
}

.footer {
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	background-color: #FFD0EC;
    padding-left: 15px;

}
.footer-icons a:hover{
    color: #FCE09B !important;

}